<h1>Criar Pessoa</h1>

<form (submit)="create()">
  <div>
    <label for="nome">Nome</label>
    <input id="nome" type="text" [(ngModel)]="pessoa.nome" name="nome" required>
  </div>
  <div>
    <label for="idade">Idade</label>
    <input id="idade" type="number" [(ngModel)]="pessoa.idade" name="idade" required>
  </div>
  <div>
    <label for="sexo">Sexo</label>
    <input id="sexo" type="text" [(ngModel)]="pessoa.sexo" name="sexo" required>
  </div>
  <div>
    <label for="logradouro">Logradouro</label>
    <input id="logradouro" type="text" [(ngModel)]="pessoa.endereco.logradouro" name="logradouro" required>
  </div>
  <div>
    <label for="numero">Número</label>
    <input id="numero" type="text" [(ngModel)]="pessoa.endereco.numero" name="numero" required>
  </div>
  <div>
    <label for="bairro">Bairro</label>
    <input id="bairro" type="text" [(ngModel)]="pessoa.endereco.bairro" name="bairro" required>
  </div>
  <div>
    <label for="cidade">Cidade</label>
    <input id="cidade" type="text" [(ngModel)]="pessoa.endereco.cidade" name="cidade" required>
  </div>
  <div>
    <div>
        <label for="uf">UF</label>
        <input id="uf" type="text" [(ngModel)]="pessoa.endereco.uf" name="uf" required>
      </div>
      <div>
        <label for="cep">CEP</label>
        <input id="cep" type="text" [(ngModel)]="pessoa.endereco.cep" name="cep" required>
      </div>
      <div>
        <label for="ddd">DDD</label>
        <input id="ddd" type="text" [(ngModel)]="pessoa.telefones[0].ddd" name="ddd" required>
      </div>
      <div>
        <label for="numero">Telefone</label>
        <input id="numero" type="text" [(ngModel)]="pessoa.telefones[0].numero" name="numero" required>
      </div>
      <button type="submit">Salvar</button>
      <button type="button" routerLink="/pessoa">Cancelar</button>
  </div>
  
    </form>
    