<div class="alert alert-info clearfix">
    <button type="button" class="btn btn-primary float-end">
        Adicionar
    </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">SobreNome</th>
            <th scope="col">Funções</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pessoa of pessoas">
            <th scope="row">{{pessoa.id}}</th>
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.sobreNome}}</td>
            <td>editar / deletar</td>
        </tr>
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>